.box
{
    height:20px;
    width:100px;
    margin:7.8% 0% 0% 0%;
    float:left;
}
.red
{
    background-color:red;
    margin:7.8% 0% 0% 30%;
}
.pink
{
    background-color:pink;
}
.orange
{
    background-color:orange;
}
.blue
{
    background-color:blue;
}
.violet
{
    background-color:violet;
}
.center
{
    border: 2px solid black;
    border-radius: 50%;
    width:20%;
    height: 200px;
    display: inline-block;
    margin:10% 40% 0% 40%;
}
